<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Recipe</title>
</head>
<body>
    <p>This page is for adding a new recipe</p>
{% if get_out %}
<p>{{ get_out }}</p>
{% endif %}
</body>
<form method="POST" action="{{ request.route_path('add_recipe') }}">
    Recipe Name:
    <br>
    <textarea title="recipe_name" name="recipe_name" cols="50">{% if recipe_name %}{{ recipe_name }}{% else %}Put recipe name{% endif %}</textarea>
    <br>
    Ingredients (separate by commas with amount in brackets and x at end if not needed):
    <br>
    <textarea title="ingredients" name="ingredients" cols="50" rows="10">{% if ingredients %}{{ ingredients }}{% else %}ex: whiskey [1.0 oz], sugar [1 cube], cherry [1] x, bitters [2 dash]{% endif %}</textarea>
    <br>
    Directions (separate by semicolon):
    <br>
    <textarea title="directions" name="directions" cols="50" rows="10">{% if directions %}{{ directions }}{% else %}ex: Muddle sugar; pour whiskey; add cherry{% endif %}</textarea>
    <br>
    <input type="submit" name="add.submitted" value="Submit" >
</form>
{% if bad_ingredient_input %}
    <body>
        <p>Problem with list of ingredients provided</p>
    </body>
{% elif recipe_exists %}
    <body>
        <p>Recipe already exists</p>
    </body>
{% else %}
    {% if recipe %}
        <body>
            <p>Recipe added successfully:<br>{{ recipe | safe }}</p>
        </body>
    {% endif %}
{% endif %}
</html>