<!DOCTYPE html>
<html lang="en">
<head>
    <title>This is just for adding a new recipe</title>
</head>
<body>
<h1>${view.view_name} - ${page_title}</h1>
<p>Welcome, ${view.full_name}</p>
<form method="POST"
      action="{{ request.current_route_url() }}">
    <input name="new_name"/>
    <input type="submit" name="form.new_recipe" value="Save"/>
</form>
</body>
</html>