<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bar Library</title>
</head>
<body>
<p>Welcome to the Bar Library! Choose an operation:</p>
<li><a href="bar_library/add_recipe">Add recipe</a></li>
<li><a href="bar_library/remove_recipe">Remove recipe</a></li>
<li><a href="bar_library/find_recipes">What can I make?</a></li>
<li><a href="bar_library/find_all">What are all the recipes that contain these ingredients?</a></li>
</body>
</html>