{% extends "base.jinja2" %}
{% block title %}Change Permissions{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block description %}This page is for changing permissions{% endblock %}

{% block content %}
<form method="POST" action="{{ request.route_path('change_permission') }}">
    <label for="login">Username</label>
    <input type="text" id="user"
           name="user"><br/>
    <label for="login">Permission</label>
    <input type="text" id="permission"
           name="permission"><br/>
    <input type="submit" name="form.submitted" value="Change Permission"/>
</form>
{% if message %}
{{ message }}
{% endif %}
{% endblock %}
