{% extends "base.jinja2" %}
{% block title %}Find Recipe{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block description %}This page is for finding all recipes that you can make with a list of ingredients.{% endblock %}

{% block content %}
<form method="GET" action="{{ request.route_path('find_recipes') }}">
    <label for="ingredients">Ingredients (separate by commas):</label>
    <textarea class="form-control" id="ingredients" title="ingredients" name="ingredients" cols="50" rows="10">{% if ingredients %}{{ ingredients }}{% else %}ex: bourbon, sugar, angostura bitters, water, orange, cherry{% endif %}</textarea>

    <br>
    <input type="submit" class="btn btn-primary" name="find.submitted" value="Search" >
</form>
{% if bad_ingredient_list %}
    <body>
        <p>Problem with list of ingredients provided</p>
    </body>
{% else %}
    {% if recipes_found %}
        {% for recipe in recipes_found %}
<br>**************************************************
{{ recipe | safe }}
<br>**************************************************<br>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}
