{% extends "base.jinja2" %}
{% block title %}Find All Recipes{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block description %}This page is for finding all recipes that include a list of ingredients{% endblock %}

{% block content %}
<form method="GET" action="{{ request.route_path('find_all') }}">
    <label for="ingredients">Ingredients (separate by commas):</label>
    <textarea class="form-control" id="ingredients" title="ingredients" name="ingredients" cols="50" rows="10" placeholder="{% if not ingredients %}ex: vodka{% endif %}">{% if ingredients %}{{ ingredients }}{% endif %}</textarea>

    <br>
    <input type="submit" class="btn btn-primary" name="find_all.submitted" value="Search" >
</form>
{% if bad_ingredient_list %}
    <body>
        <p>Problem with list of ingredients provided</p>
    </body>
{% else %}
    {% if recipes_found %}
        {% for recipe in recipes_found %}
            <div class="recipe">{{ recipe | safe }}</div>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}
