<!DOCTYPE html>
<html lang="en">
<head>
    <title>Find Recipe</title>
</head>
<body>
    <p>This page is for finding recipes</p>
</body>
<form method="GET" action="{{ request.route_path('find_recipes') }}">
    Ingredients (separate by commas):
    <br>
    <textarea title="ingredients" name="ingredients" cols="50" rows="10">{% if ingredients %}{{ ingredients }}{% else %}ex: bourbon, sugar, angostura bitters, water, orange, cherry{% endif %}</textarea>
    <br>
    <input type="submit" value="Search" >
</form>
{% if bad_ingredient_list %}
    <body>
        <p>Problem with list of ingredients provided</p>
    </body>
{% else %}
    {% if recipes_found %}
        {% for recipe in recipes_found %}
<br>**************************************************
{{ recipe | safe }}
<br>**************************************************<br>
        {% endfor %}
    {% endif %}
{% endif %}
</html>