<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
<p>This is the home page. The following is an example of a recipe:</p>
    <pre>
    {{ one }}
    </pre>
</body>
</html>