<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bar Library</title>
</head>
<body>
<p>Welcome to Jake's Stuff! Choose where to go:</p>
<li><a href="bar_library">Bar Library</a></li>
</body>
</html>