{% extends "base.jinja2" %}
{% block title %}User Kitchen{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block description %}This page is for showing what ingredients you have in your kitchen.{% endblock %}

{% block content %}
<form action="{{ request.route_path('kitchen') }}" method="GET">
    <div class="form-group columned">
        {% if kitchen_dict is defined %}
            {% for key, value in kitchen_dict.items() %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="{{ key }}" title="{{ key }}" id="{{ key }}" {% if value %}checked="checked"{% endif %}>
                    <label class="custom-control-label" for="{{ key }}">{{ key }}</label>
                </div>
            {% endfor %}
        {% endif %}
    </div>
<br>
<input type="submit" class="btn btn-primary" name="update_ingredients.submitted" value="Update ingredients"/>
</form>
{% endblock %}
