{% extends "base.jinja2" %}
{% block title %}User Kitchen{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block description %}This page is for showing what ingredients you have in your kitchen.{% endblock %}

{% block content %}
<form action="{{ request.route_path('kitchen') }}" method="GET">
{% for key, value in kitchen_dict.items() %}
<input type="checkbox" name="{{ key }}" title="{{ key }}" {% if value %}checked="checked"{% endif %}>{{ key }}<br>
{% endfor %}
<input type="submit" name="update_ingredients.submitted" value="Update ingredients"/>
</form>
{% endblock %}
