{% extends "base.jinja2" %}
{% block title %}Remove Recipe{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block description %}This page is for removing a recipe.{% endblock %}

{% block content %}
<form method="POST" action="{{ request.route_path('remove_recipe') }}">
    <label for="recipe">Recipe Name:</label>

    <textarea class="form-control" id="recipe" title="recipe_name" name="recipe_name" cols="50" placeholder="Put recipe name"></textarea>
    <br>
    <input type="submit" class="btn btn-primary" name="remove.submitted" value="Submit" >
</form>
{% if bad_ingredient_input %}
    <body>
        <p>Problem with recipe provided</p>
    </body>
{% elif recipe_doesnt_exists %}
    <body>
        <p>Recipe doesn't exist</p>
    </body>
{% else %}
    {% if success is defined %}
        {% if success %}
        <body>
            <p>Recipe deleted</p>
        </body>
        {% else %}
        <body>
            <p>Error deleting recipe</p>
        </body>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock %}
