<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Account</title>
</head>
<body>
    <p>This page is for user stuff.</p>
</body>

<form action="{{ request.route_path('user_page') }}" method="POST">
    <label for="login">Username</label>
    <input type="text" id="login"
           name="login"
           value={% if login is defined %}{{ login }}{% endif %}><br/>
    <label for="password">Password</label>
    <input type="password" id="password"
           name="password"
           value={% if password is defined %}{{ password }}{% endif %}><br/>
    <input type="submit" name="user_form.submitted"
           value="Log In"/>
    <input type="submit" name="logout.submitted"
           value="Log Out"/>
</form>

{% if message is defined %}
<body>
{{ message }}
</body>
{% endif %}

</html>